# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Environment variables / secrets
.env

# Database
*.db
*.sqlite3

# User uploaded files
uploads/

# Django
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db